<br />

<div class="container booyah-box2 col-xs-12 col-sm-12-offset-1">
  <div class="row">
    <div class="col-12 col-xs-offset-1">
      <h1>Current Enrolled Courses</h1>
      <hr />
    </div>
      <br class="clr" />
  </div>

      <% current_user.enrolled_courses.each do |course| %>
        <div class="row course-box">
          <div class="col-xs-12 col-sm-4">
            <%= image_tag course.image.url, :height => "200px", :width => "300px" %>
          </div>
            <br />
            <br />
          <div class="col-xs-12 col-sm-6">
            <h2 class="special"><%= link_to course.title, course_path(course) %></h2>
          <%= truncate course.description, length: 300 %> 
          </div>
          <div class="col-xs-12 col-sm-2">
            <%= link_to "More Info...", course_path(course), class: 'btn btn-lg btn-primary float-right' %>
          </div>
      </div>
      <% end %>
    </div>
  </div>

  <div class="container booyah-box2 col-xs-12 col-sm-12-offset-1">
    <div class="row">
      <div class="col-12 col-xs-offset-1">
        <h1>Instructor Courses Available</h1>
        <hr />
      </div>
      <br class="clr" />
    </div>

      <% current_user.courses.each do |course| %>
    <div class="row course-box">
          <div class="col-xs-12 col-sm-4">
            <%= image_tag course.image.to_s, :height => "200px", :width => "300px" %>
          </div>
            <br />
            <br />
          <div class="col-xs-12 col-sm-6">
            <h2 class="special"><%= link_to course.title, course_path(course) %></h2>
          <%= truncate course.description, length: 300 %> 
          </div>
          <div class="col-xs-12 col-sm-2">
            <%= link_to "More Info...", course_path(course), class: 'btn btn-lg btn-primary float-right' %>
          </div>
      </div>
      <% end %>
    </div>
  </div>